@font-face {
  font-family: 'iconfont';  /* project id 1425992 */
  src: url('//at.alicdn.com/t/font_1425992_7794ip81g56.eot');
  src: url('//at.alicdn.com/t/font_1425992_7794ip81g56.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1425992_7794ip81g56.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1425992_7794ip81g56.woff') format('woff'),
  url('//at.alicdn.com/t/font_1425992_7794ip81g56.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1425992_7794ip81g56.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconpinglun:before {
  content: "\e600";
}

.iconxingxing:before {
  content: "\e62b";
}

.icondianzanjihuob:before {
  content: "\e608";
}

.iconzhuanfa00:before {
  content: "\e6e6";
}

